h1,
h2,
p {
  margin: 1.6rem 0;
}

h1 {
  font-weight: 800;
  font-size: 3.6rem;
}

h2 {
  font-weight: 800;
  font-size: 2.4rem;
}

p {
  font-weight: 400;
  font-size: 1.8rem;
}

/*Hero*/

.hero {
  background-image: url('../img/Bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  height: 90vh;
}
.header-content {
  color: white;
  width: 40%;
  position: relative;
  top: 7em;
  left: 8%;
}
.copies {
  display: flex;
  align-items: center;
}

.title {
  font-size: 2.5em;
}

.header-content span {
  font-size: 2em;
  letter-spacing: -2.5px;
  line-height: 0.7;
  background: #ee0979; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff6a00,
    #ee0979
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ff6a00,
    #ee0979
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -mo-text-fill-color: transparent;
}
.btn {
  background-color: black;
  color: #0aaeb1;
  padding: 0.5em;
  border-radius: 5px;
  font-size: 1.2em;
  font-weight: 500;
  border: 1px solid #0aaeb1;
  text-decoration: transparent;
}

/*Section 2 */

.section2 {
  background-color: black;
  height: auto;
  color: azure;
}
.father-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3rem;
  padding-top: 3em;
}
.item1 {
  opacity: 0.7;
}

.item2 {
  display: block;
  width: 40%;
}
.titlei2 {
  font-size: 2.5em;
  color: #0aaeb1;
}

@media screen and (max-width: 900px) {
  .section2 {
    height: auto;
  }

  .father-box {
    display: block;
    justify-content: center;
    text-align: center;
  }
  .item1 img {
    width: 100%;
  }
  .item2 {
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .title {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 350px) {
  .title {
    text-align: center;
    font-size: 1em;
  }
}

/*Secction 3  Services */
.section3 {
  background-color: black;
  color: white;
  text-align: center;
  align-items: center;
  padding: 2.5em;
  padding-top: 1em;
}

.services {
  background: #131313;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 10rem 0;
}

.titles3 {
  letter-spacing: 2px !important;
  -webkit-text-stroke: 0.5px WHITE;
  color: transparent;

  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-bottom: 3rem;
  font-size: 4.5rem;
  letter-spacing: -1px;
}

.services__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.services__card {
  margin: 10px;
  height: 425px;
  width: 300px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background-image: linear-gradient(to right, #0aaeb1 0%, #fc00ff 100%);
  transition: 0.3s ease-in;
}

.services__card:nth-child(2) {
  background: #0aaeb1; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #a6ffcb,
    #0aaeb1,
    #1fa2ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #a6ffcb,
    #12d8fa,
    #0aaeb1
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.services__card:nth-child(3) {
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #ff0844 29%,
    #ff1361 67%,
    #fff800 100%
  );
}

.services__card h2 {
  text-align: center;
}

.services__card p {
  text-align: center;
  padding: 1.5em;
  margin-top: 24px;
  font-size: 16px;
}

.services__btn {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.services__card button {
  color: #fff;
  padding: 14px 24px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #131313;
  font-size: 1rem;
  border: 1px solid #0aaeb1;
}

.services__card button:hover {
  cursor: pointer;
}

.services__card:hover {
  transform: scale(1.075);
  transition: 0.3s ease-in;
  cursor: pointer;
}

@media screen and (max-width: 1300px) {
  .services__card {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .section3 {
    padding-right: 0;
    padding-left: 0;
  }
  .services__wrapper {
    grid-template-columns: 1fr;
  }
  .services__card {
    justify-self: center;
    width: 90%;
  }
}

/*Section4*/

.item1-1 {
  width: 50%;
}
.patern {
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: start;
  width: 80%;
  height: auto;
  margin-top: -0.5em;
  margin-left: -4em;
}

.title4 {
  color: #ff0844;
  font-size: 2.5em;
}

@media screen and (max-width: 900px) {
  .item1-1 {
    width: 100%;
  }
  .patern {
    margin: 0;
    background-position-x: center;
    align-self: center;
    width: 100%;
  }
}

.section4 {
  background-color: black;
  padding-bottom: 1.5em;
  padding-top: 1.5em;
  text-align: center;
}
.h3s4 {
  font-weight: bold;
  font-size: 2.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  -webkit-text-stroke: 0.5px WHITE;
  color: transparent;
}

.items4 {
  display: flex;
  color: #ffff;
  justify-content: space-around;
  text-align: left;
  padding-top: 2em;
  padding-left: 4em;
  padding-bottom: 2em;
}
.itemsiconss4 {
  width: 18%;
}
h4 {
  color: #f2f2f2;
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: -0.5em;
}
.icons4 {
  display: flex;
  height: 4rem;
  width: 4rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}

.ps4 {
  font-size: 0.9em;
}

@media screen and (max-width: 650px) {
  .items4 {
    padding-left: 0;
    width: 100%;
    display: block;
    text-align: center;
  }
  .icons4 {
    justify-self: center;
    margin: auto;
  }
  .itemsiconss4 {
    width: 100%;
    padding: 1.8em;
  }
}
