h1,
h2,
p {
  margin: 1.6rem 0;
}

h1 {
  font-weight: 800;
  font-size: 3.6rem;
}

h2 {
  font-weight: 800;
  font-size: 2.4rem;
}

p {
  font-weight: 400;
  font-size: 1.8rem;
}

/*Hero*/

.hero {
  background-image: url('../img/Bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  height: 90vh;
}
.header-content {
  color: white;
  width: 40%;
  position: relative;
  top: 7em;
  left: 8%;
}
.copies {
  display: flex;
  align-items: center;
}

.title {
  font-size: 2.5em;
}

.header-content span {
  font-size: 2em;
  letter-spacing: -2.5px;
  line-height: 0.7;
  background: #ee0979; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff6a00,
    #ee0979
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ff6a00,
    #ee0979
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -mo-text-fill-color: transparent;
}
.btn {
  background-color: blue;
}

/*Section 2 */

.section2 {
  background-color: black;
  height: 60vh;
  color: azure;
}
.father-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
}
.item1 {
  opacity: 0.7;
}

.item2 {
  display: block;
  width: 30vw;
}
.titlei2 {
  font-size: 2.5em;
  color: #0aaeb1;
}

/*Services */
