h1,
h2,
p {
  margin: 1.6rem 0;
}

h1 {
  font-weight: 800;
  font-size: 3.6rem;
}

h2 {
  font-weight: 800;
  font-size: 2.4rem;
}

p {
  font-weight: 400;
  font-size: 1.8rem;
}

img {
  width: 100%;
  height: auto;
}

/*Hero*/

.hero {
  background-color: black;
  height: 90vh;
}
.header-content {
  color: white;
  width: 45%;
  position: relative;
  top: 12em;
  left: 8%;
}
.copies {
  display: flex;
  align-items: center;
}

.header-content span {
  background: #ee0979; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff6a00,
    #ee0979
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ff6a00,
    #ee0979
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -mo-text-fill-color: transparent;
}
.btn {
  background-color: blue;
}
