.PageHeader {
  background-color: var(--darkGrey);

  padding: 15rem 0;
}

.PageHeader .BackgroundImage {
  opacity: 0.8;
}

.PageHeader-large {
  padding: 20rem 0;
}

.PageHeader--Title {
  font-size: 6rem;
  font-weight: 600;
  margin-bottom: 0;
  background-image: linear-gradient(4deg, #ee0979 -50%, #ff6a00 130%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.PageHeader--Subtitle {
  font-weight: 400;
  font-size: 1.8rem;
  color: white;
}

.PageHeader .container {
  animation: fadeIn 0.5s ease-out;
}

@media (max-width: 600px) {
  .PageHeader {
    padding: 7rem 0;
  }
  .PageHeader-large {
    padding: 12.5rem 0;
  }
}
